body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.85);
    color: #fff;
}

.slider{
    width: 37.5rem;
    height: 43.125rem;
    padding: 0.625rem;
    margin: 0.625rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    justify-content: space-between;
    margin-top: 1.25rem;
    border-radius: 0.625rem;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    border: 0.125rem dashed #40D3DC;
}

.slides{
    width: 400%;
    display: flex;
    gap: 0.9375rem;
    transition: 0.3s;
}

.slider input{
    display: none;
}

.slide{
    width: 100%;
    scroll-snap-align: start;
    transition: 2s;
}

.slide img{
    height: 37.5rem;
    width: 100%;
    object-fit: contain;
}

#radio1:checked ~ .slides{
    transform:translateX(0);
}
#radio2:checked ~ .slides{
    transform:translateX(-25%);
}
#radio3:checked ~ .slides{
    transform:translateX(-50%);
}
#radio4:checked ~ .slides{
    transform:translateX(-75%);
}

.under-photo-content{
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
}

.text{
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.8s;
}

.label{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
}

.label:hover{
    cursor: pointer;
}

.navigation-auto{
    display: flex;
    gap: 1.25rem;
}

.navigation-auto div{
    width: 0.4375rem;
    height: 0.4375rem;
    border: 0.25rem solid #40D3DC;
    background: #40D3DC;
    padding: 0.3125rem;
    border-radius: 50%;
    transition: 1s;
}

.label:hover .auto-btn{
    cursor: pointer;
    background-color: #fff;
    border: 0.25rem solid #fff;
}

.label:active .auto-btn{
    background-color: #000;
    border: 0.25rem solid #fff;
}

#radio1:checked ~ .under-photo-content .navigation-auto .label .auto-btn1{
    background: #000;
    border: 0.25rem solid #40D3DC;
}
#radio2:checked ~ .under-photo-content .navigation-auto .label .auto-btn2{
    background: #000;
    border: 0.25rem solid #40D3DC;
}
#radio3:checked ~ .under-photo-content .navigation-auto .label .auto-btn3{
    background: #000;
    border: 0.25rem solid #40D3DC;
}
#radio4:checked ~ .under-photo-content .navigation-auto .label .auto-btn4{
    background: #000;
    border: 0.25rem solid #40D3DC;
}

#radio1:checked ~ .under-photo-content .navigation-auto .label .auto-btn1:hover,
#radio2:checked ~ .under-photo-content .navigation-auto .label .auto-btn2:hover,
#radio3:checked ~ .under-photo-content .navigation-auto .label .auto-btn3:hover,
#radio4:checked ~ .under-photo-content .navigation-auto .label .auto-btn4:hover{
    border: 0.25rem solid #fff;
}


#radio1:checked ~ .under-photo-content .text-wrapper .text1{
    height: auto;
    opacity: 1;
    visibility: visible;
}
#radio2:checked ~ .under-photo-content .text-wrapper .text2{
    height: auto;
    opacity: 1;
    visibility: visible;
}
#radio3:checked ~ .under-photo-content .text-wrapper .text3{
    height: auto;
    opacity: 1;
    visibility: visible;
}
#radio4:checked ~ .under-photo-content .text-wrapper .text4{
    height: auto;
    opacity: 1;
    visibility: visible;
}

@media(max-width: 768px) {
    .slider{
        height: 70%;
        width: 80%;
        gap: 0.3125rem;
    }
    .slide img{
        height: 100%;
        max-height: 33.75rem;
    }
    .under-photo-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .text-wrapper{
        align-self: flex-start;
        font-size: 1.5rem;
    }
    .navigation-auto{
        align-self: center;
        order: -1;
    }
}

@media(max-width: 670px) {
    .slider{
        width: 90%;
    }
    .slide img{
        max-height: 30.625rem;
    }
}