body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.slider{
    width: 800px;
    height: 690px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: space-between;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    border: 2px dashed #40D3DC;
}

.slides{
    width: 400%;
    display: flex;
    gap: 15px;
    transition: 0.3s;
}

.slider input{
    display: none;
}

.slide{
    width: 100%;
    scroll-snap-align: start;
    transition: 2s;
}

.slide img{
    height: 600px;
    width: 100%;
    object-fit: contain;
}

#radio1:checked ~ .slides{
    transform:translateX(0);
}
#radio2:checked ~ .slides{
    transform:translateX(-25%);
}
#radio3:checked ~ .slides{
    transform:translateX(-50%);
}
#radio4:checked ~ .slides{
    transform:translateX(-75%);
}

.under-photo-content{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.text{
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s;
}

.label{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
}

.label:hover{
    cursor: pointer;
}

.navigation-auto{
    display: flex;
    gap: 20px;
}

.navigation-auto div{
    width: 7px;
    height: 7px;
    border: 4px solid #40D3DC;
    padding: 5px;
    border-radius: 50%;
    transition: 1s;
}

.label:hover .auto-btn{
    cursor: pointer;
    background-color: rgb(49, 214, 217);
}

.label:active .auto-btn{
    background-color: rgba(64, 211, 220, 0.5);
}

#radio1:checked ~ .under-photo-content .navigation-auto .label .auto-btn1{
    background: #000;
    border: 4px solid #40D3DC;
}
#radio2:checked ~ .under-photo-content .navigation-auto .label .auto-btn2{
    background: #000;
    border: 4px solid #40D3DC;
}
#radio3:checked ~ .under-photo-content .navigation-auto .label .auto-btn3{
    background: #000;
    border: 4px solid #40D3DC;
}
#radio4:checked ~ .under-photo-content .navigation-auto .label .auto-btn4{
    background: #000;
    border: 4px solid #40D3DC;
}


#radio1:checked ~ .under-photo-content .text-wrapper .text1{
    height: auto;
    opacity: 1;
    visibility: visible;
}
#radio2:checked ~ .under-photo-content .text-wrapper .text2{
    height: auto;
    opacity: 1;
    visibility: visible;
}
#radio3:checked ~ .under-photo-content .text-wrapper .text3{
    height: auto;
    opacity: 1;
    visibility: visible;
}
#radio4:checked ~ .under-photo-content .text-wrapper .text4{
    height: auto;
    opacity: 1;
    visibility: visible;
}

@media(max-width: 768px) {
    .slider{
        height: 70%;
        width: 100%;
    }
    .under-photo-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .text-wrapper{
        align-self: flex-start;
        font-size: 1.5rem;
    }
    .navigation-auto{
        align-self: center;
        order: -1;
    }
}